.container {
  min-height: calc(100vh - 56px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutMePhoto {
  width: 100%; 
  display: flex;
  justify-content: center;
}

.aboutMePhoto img {
  width: 80%;

  border-radius: 50%;
}

.aboutMeDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeDescription img {
  width: 90%;
  margin-top: 2rem;
}

.aboutMeDescription p {
  width: 90%;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.aboutMeDescription a {
  width: 90%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;

  border: none;
  border-radius: 5px;
  background-color: var(--yellow);
  color: var(--black);


  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;

  cursor: pointer;

  transition: 0.4s ease;
}

.aboutMeDescription a:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--yellow);
}

@media(min-width: 768px) {
  .container {
    margin-top: 0;
    justify-content: space-evenly;
  }
}

@media(min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .aboutMePhoto {
    width: 80%;
  }

  .aboutMeDescription {
    align-items: flex-start;
  }

  .aboutMeDescription p {
    text-align: left;
  }

  .aboutMeDescription img {
    margin-top: 0;
  }

  .aboutMeDescription a {
    width: 50%;
  }
}