.container {
  display: flex;
  flex-direction: column;
  
  background-color: var(--black);
}

.bar {
  width: 100vw;
  height: 72px;

  padding:  0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar svg {
  height: 60%;
  width: auto;
}

.menuIcon {
  height: 100%;
  width: auto;

  display: flex;
  align-items: center;
}

.menuIcon svg {
  height: 60%;
  width: auto;
}

.menuDesktop {
  display: none;
}

.menuDesktop ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuDesktop li {
  list-style: none;
  font-size: 1.2rem;
  margin-left: 4rem;
  position: relative;
  cursor: pointer;

  transition: 0.2s ease;
}

.menuDesktop li:hover{
  display: block;
  font-weight: 600;
}

.menuDesktop li::after {
  content: '';
  display: none;

  height: 2px;
  width: 0px;

  left: 0;

  position: absolute;

  background-color: var(--yellow);
}

.menuDesktop li:hover::after{
  display: block;
  animation: yellowbar 0.6s ease forwards;
}

@keyframes yellowbar {
  0%{width: 0;}
  100%{width: 100%;}
}

.menu {
  width: 100vw;
  height: 100vh;

  position: fixed;

  background-color: var(--black);

  animation: openMenu 0.3s ease;

} 

.menu li {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;

  animation: showItems 0.8s ease-in-out;
}

@keyframes openMenu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes showItems {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@media(min-width: 768px) {
  .bar{
    padding: 0 4rem;
  }

  .menuIcon {
    display: none;
  }

  .menuDesktop {
    display: flex;
  }
}

@media(min-width: 1024px) {
  .bar{
    padding: 0 6rem;
  }
}